*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}


.navbar{
    width:100%;
    height:45px;
    background-color: cadetblue;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.heading-section{
    padding-left: 1rem;
}
.icon-section{
    padding-right: 1rem;
}


.lighttheme{
    background-color: white;
    color:black;
}

.darktheme{
    background-color: black;
    color:white;
}

.box-container{
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
}
.containbox{
    width:350px;
    height:fit-content;
    text-align: center;
     padding-top: 20px;  
     display: flex;
     flex-wrap: wrap;
     box-shadow: 0px 0px 3px 2px cadetblue;
     margin-top:100px;
} 
.containbox1{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    margin-bottom: 20px;
}
.box{
   flex-grow: 0 ;
   flex-shrink: 1;
    margin:2px;
    width:80px;
    height:80px;
    box-shadow: 0px 0px 5px 2px cadetblue;
    border:none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    
}
.resetbtn{ 
    width:100%;
    margin-top:10px;
    text-align: center;
}
.resetbtn button{
    width:150px;
    height:40px;
    border: none;
    border-radius:5px;
    box-shadow: 0px 0px 0 2px  cadetblue;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
} 
#newgame{
    box-shadow: 0px 0px 0 2px cadetblue;
    width:150px;
    height:40px;
    border: none;
    border-radius:5px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 10px;
}
.msg-container{
    width:100%;
    text-align: center;
}
.msg-container p{
   font-weight: 500;
   font-size: 1.5rem;
}
.msg-container button{
    width:150px;
    height:40px;
    border: none;
    border-radius:10px;
    margin-top: 8px;
    box-shadow: 1px 1px 0 1px cadetblue;
}

.equal{
    width:100%;
}

.hide{
    display:none;
}

/* @media (max-width:490px) {
    /* .containbox{
        width:350px;
        height: fit-content;
        box-shadow: 0px 0px 3px 2px cadetblue;
        margin-top:30%;
        border-radius: 10px;

    } */
    /* .containbox1{
        margin-bottom: 20px;
    }
      */
    /* .resetbtn button{
        margin-bottom: 10px;
        width:7rem;
        height:2rem;
        box-shadow: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1rem;
    }
} */

/* @media (min-width:490px)and(max-width:1024px) {
    .containbox{
        width:80%;
        border: 1px solid black;
        height: fit-content;
        box-shadow: 0px 0px 3px 2px cadetblue;
        margin-top:30%;
        border-radius: 10px;

    }

} */

